asgiref==3.8.1
Django==5.2
Pillow==11.2.1
sqlparse==0.5.3
typing_extensions==4.13.2
reportlab==3.6.8
weasyprint==65.1
fonttools==4.57.0
requests==2.25.1
python-dateutil==2.8.1
pytz==2022.1
cryptography==3.4.8
pycparser==2.22
PyJWT==2.3.0
gunicorn==21.2.0
whitenoise==6.5.0
dj-database-url==2.1.0
psycopg2-binary==2.9.9
